/* /General */
img {
  max-width: 50%;
}


/* /header */
header{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.navlist{
  display: flex;
  align-items: center;
  gap: 20px;
  list-style: none;
}
/* /main */


/* /fotter */