/* /General */
img {
  max-width: 50%;
}
section{
  height: 100vh;
}


/* /header */
header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navList{
  display: flex;
  align-items: center;
  gap: 20px;
  list-style: none;
}
/* /main */
.sectionHero{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}



/* /fotter */